* {
    padding: 0;
    margin: 0;
    font-family: 'Alegreya Sans', sans-serif;
    text-decoration: none;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    min-width: 375px;
}

a:visited, a {
    color: black;
}

header {
    width: 100%;
}

fieldset {
    margin: 5px;
    padding: 20px;
    border: solid 1px #E0DEDE;
    backgroundColor: #F7FAF5;
}

/**
 * Login Menu
 */
#logout_link {
    margin: 1vw 0;
    font-size: small;
}

/**
 * Main Content Area
 */
#landing_animation {
    position: relative;
    height: 65vh;
    margin: 4vw 0 0 13vw;
}


#greeting {
    font-size: 1em;
    text-align: center;
    padding-top: 33vh;
    padding-bottom: 21.5vh;
}

div.main_area, div.cards {
    background: #F5F5F5 !important;
    margin: 0 0 4vw 0;
}

div.main_area {
    min-height: 69.4vh;
    margin: 7vw;
    padding: 3vw;
}

/**
 * Profile form
 */
.profile_field {
    margin-right: 10px;
    padding-right: 10px;
    width: auto !important;
}

/**
 * Trx entry form
 */
form#trx_form {
    display: flex;
    flex-wrap: wrap;
}

/**
 * Customer drop-down
 */
span.cust_icons {
    position: relative;
    bottom: 7px;
}

span.cust_icons .fa {
    font-size: 17px !important;
}

/**
 * Footer Area
 */
footer {
    bottom: 0;
    position: relative;
    width: 100%;
    font-size: small;
    margin-top: 5vh;
}

/**
 * Rules for viewport's with widths < 510 px
 */
@media (max-width: 510px) {
    #logout_link {
        font-size: x-small;
    }
    
    #main_area {
        min-height: 70.9vh;
    }
}